.logo{
    height: 100px;
    width: 100px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--tertiary);
}

.icons:hover {
    color: white;
    cursor: pointer;
}

h1:hover {
    color: white;
    cursor: pointer;
}

.icons-header{
    display: flex;
    align-items: center;
    gap: 20px;
}