.logo{
    height: 100px;
    width: 100px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--tertiary);
}

.icons:hover {
    color: white;
    cursor: pointer;
}

h1:hover {
    color: white;
    cursor: pointer;
}

.icons-header{
    display: flex;
    align-items: center;
    gap: 20px;
}

.tooltip{
  position: relative;
  display: inline-flex;
  align-items: center;
}

/* TEXTO TOOLTIP */
.tooltip-text{
  position: absolute;
  /*texto debajo del icono*/
  bottom: -38px; 
  left: 50%;
  transform: translateX(-50%) translateY(5px);
    /*texto a la izquierda del icono*/
  /* left: -65px;
  top: 50%;
  transform: translateY(-50%); */
  background: rgba(0,0,0,0.85);
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}

/* TRIÁNGULO */
.tooltip-text::after{
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,0.85) transparent;
}

/* HOVER */
.tooltip:hover .tooltip-text{
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.cart-icon{
  position: relative;
}

.cart-badge{
  position: absolute;
  top: -5px;
  right: -8px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}