.footer {
   background: linear-gradient(135deg, #0f0f0f 0%, #1a1a1a 50%, #252525 100%);

  padding: 50px 8%;
  margin-top: 60px;
  border-top: 5px solid rgb(255, 135, 50);
}

/* CONTENEDOR PRINCIPAL */
.footer-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 80px; /* espacio entre columnas */
  align-items: flex-start;
}

/* TITULOS */
.footer h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.footer h3, h4 {
  color: black;
}

/* MAPA */
.footer-map iframe {
  width: 100%;
  height: 220px;
  border: none;
  border-radius: 10px;
  filter: grayscale(0.3) contrast(1.1);
}

/* LINKS NAVEGACION */
.footer-links ul {
  list-style: none;
  padding: 0;
  align-items: center;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.2s;
}

.footer-links a:hover {
  opacity: 0.7;
}

/* REDES SOCIALES */
.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  color: black;
}

.footer-social-icons a {
  color: black;
  transition: 0.2s;
}

.footer-social-icons a:hover {
  color: rgb(255, 135, 50);
  transform: scale(1.3) translateY(-5px);
}

/* COPYRIGHT */
.footer-copy {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-map iframe {
    height: 200px;
  }

  .footer-links ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .footer-links li {
    margin-bottom: 0;
  }
}