.logo{
    height: 100px;
    width: 100px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--tertiary);
}

/* HEADER FIJO */

/*.header{
  position: sticky;
  top: 0;
  z-index: 1000;
} */

.header-logo{
  display: flex;
  align-items: center;
}

.header-title-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ICONOS */
.icons-header{
  display: flex;
  align-items: center;
  gap: 50px;
}

.icons-header a{
  padding: 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-header a:hover{
  background-color: rgba(0,0,0,0.08);
}

.icons{
  transition: 0.2s;
}

.icons:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.15);
}

h1:hover {
    color: white;
    cursor: pointer;
}